body {
	font-family: 'Amatic';
	font-weight: 700;
	font-size: 4.5vh;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Amatic';
	margin: 0 0 0.5em 0;
}

h1 { font-size: 2em; }
h2 { font-size: 1.4em; }
h3, h4, h5, h6 { font-size: 1em; }

.hero {
	font-size: 4em;
	margin: 0;
}

p {
	font-size: 1.4em;
	margin: 0 0 1em 0;
}
